.checked {
  color: orange;
}
body {
  background-color: #1b1e24;
}
.root {
  display: grid;
  grid-template-areas:
    "nav nav"
    ". .";
  grid-template-columns: 1fr 4fr;
}
.nav {
  grid-area: nav;
  display: flex;
}
.nav a {
  text-decoration: none;
  color: white;
  border: white solid 8px;
  font-size: 4vw;
  padding: 8px;
  border-collapse: collapse;
}
.nav .to-home {
}
.nav .to-store {
  display: block;
  margin-left: auto;
}
.nav .to-home {
}
